/* Hace que la página use toda la altura del navegador */
html, body, #root {
  height: 100vh;
  margin: 0;
}

/* Tipografía global */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Enlaces */
a {
  text-decoration: none;
}


/* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido crece y empuja el footer */
.contenido {
  flex: 1;
}